PORT=5000
PGUSER=postgres
PGPASSWORD=your_password
PGHOST=localhost
PGPORT=5432
PGDATABASE=nat_computer
DATABASE_URL=postgres://postgres:your_password@localhost:5432/nat_computer
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
BANK_ID=MB
BANK_ACCOUNT_NO=0773071629
BANK_ACCOUNT_NAME=NGO ANH TU
BANK_NAME=Ngân hàng Quân Đội (MBBank)
